# 忽略 IDE/编辑器生成的文件
.vscode/
.idea/

# 忽略依赖目录

# 忽略构建输出目录

# 忽略日志文件

# 忽略环境变量文件

*.log

# 忽略大文件或特定文件类型
*.zip
*.rar
*.7z
*.mp4
*.avi
*.bin
*.whl
*.safetensors
*.pt

# **/：匹配任意层级的目录路径。
# *result*：匹配任意包含 result 的文件夹名
# /：确保只匹配目录，不匹配文件
**/*result*/*
**/*output*/*
**/*cache*/*
